$color-black: #000;
$color-white: #FFF;
$color-blue: #3D3BFF;
$color-grey: #657195;
$color-border: #E6E8F0;
$color-background: #f6f7fd;
$color-desktop: #FAFBFE;

$size-10: 10px;
$size-11: 11px;
$size-12: 12px;
$size-14: 14px;
$size-15: 15px;
$size-17: 17px;
$size-18: 18px;
$size-19: 19px;
$size-20: 20px;
$size-21: 21px;
$size-24: 24px;
$size-25: 25px;
$size-26: 26px;
$size-28: 28px;
$size-29: 29px;
$size-30: 30px;
$size-32: 32px;
$size-34: 34px;
$size-36: 36px;
$size-38: 38px;
$size-40: 40px;
$size-41: 41px;
$size-44: 44px;
$size-45: 45px;
$size-47: 47px;
$size-50: 50px;
$size-52: 52px;
$size-53: 53px;
$size-55: 55px;
$size-56: 56px;
$size-65: 65px;
$size-67: 67px;
$size-69: 69px;
$size-70: 70px;
$size-73: 73px;
$size-76: 76px;
$size-78: 78px;
$size-80: 80px;
$size-85: 85px;
$size-88: 88px;
$size-90: 90px;
$size-106: 106px;
$size-110: 110px;
$size-119: 119px;
$size-123: 123px;
$size-133: 133px;


$font-roboto: Roboto, Arial, Helvetica, sans-serif;
$font-roboto-slab: RobotoSlab, Arial, Helvetica, sans-serif;
$font-roboto-slab-light: RobotoSlabLight, Arial, Helvetica, sans-serif;

$font-opensans: OpenSans, Arial, Helvetica, sans-serif;

@mixin font($size, $line, $color: $color-black) {
    font-size: $size;
    line-height: $line;
    color: $color;
}