@import '../components';


.price {
    width: 100%;
    background-color: $color-blue;
    color: $color-white;
    position: relative;
    
    @media screen and (min-width: 1200px) {
        grid-area: price;
        position: relative;
    }

    &__discount {
        position: absolute;
        background-image: url('../../images/src/rectangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: $size-110;
        height: $size-119;
        right: 50%;
        transform: translate(50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-roboto;

        @media screen and (min-width: 770px) {
            transform: translate(50%, -20px);
        }
    }

    &__title {
        @include font($size-14, $size-17, $color-white);
        text-transform: uppercase;
    }

    &__amount {
        @include font($size-30, $size-28, $color-white);
        padding-top: 7px;
        padding-bottom: 8px;
    }

    &__purpose {
        @include font($size-15, $size-15, $color-white);
        opacity: 70%;
    }


}