@import '../components';

.form {
    display: grid;
    grid-template-areas: 
        "name"
        "phone"
        "email"
        "personal-data"
        "submit";
    gap: $size-20;
    padding-top: $size-30;

    @media screen and (min-width: 770px) {
        gap: 22px;
        padding-top: $size-28;
    }

    @media screen and (min-width: 1200px) {
        gap: 20px;
        grid-template-areas: 
            "name"
            "phone"
            "email"
            "submit"
            "personal-data";
    }

    &__input {
        @include font($size-15, $size-28, $color-grey);
        width: 100%;
        font-family: $font-opensans;
        box-sizing: border-box;
        padding: $size-17 $size-12 $size-15 $size-28;
        border: 2px solid $color-border;

        @media screen and (min-width: 770px) {
            padding-bottom: 0;
            padding: $size-17 $size-25;
        }
    }

    &__name {
        grid-area: name;
    }

    &__phone {
        grid-area: phone;
    }

    &__email {
        grid-area: email;
    }

    &__submit {
        grid-area: submit;
    }

    &__checkbox-block {
        grid-area: personal-data;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__checkbox {
        position: absolute;
        display: inline-block;
        width: $size-24;
        height: $size-24;
        -webkit-appearance: none;
	    -moz-appearance: none;
        border: 2px solid $color-border;
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }

        &:checked {
            background-image: url("../../images/dist/check.jpg");
            background-size: $size-14 $size-11;
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (min-width: 770px) {
                border: none;
                background-image: url("../../images/dist/check-white.svg");
                background-color: $color-blue;
            }
        }

        
    }

    &__checkbox-label {
        @include font($size-14, $size-21, $color-grey);
        font-family: $font-opensans;
        font-weight: 400;
        margin-left: $size-44;
        letter-spacing: -.5px;

        @media screen and (min-width: 770px) {
            margin-left: $size-38;
        }

        @media screen and (min-width: 1200px) {
            max-width: 80%;
        }
    }

    &__link {
        color: $color-blue;
        text-decoration: none;
    }

    &__submit {
        @include font($size-15, $size-21, $color-white);
        height: $size-70;
        width: 100%;
        background-color: $color-blue;
        font-family: $font-opensans;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        margin-top: $size-28;
        padding: 0;

        &:hover {
            cursor: pointer;
        }

        @media screen and (min-width: 770px) {
            margin-top: 8px;
        }

        @media screen and (min-width: 1200px) {
            margin: 0;
            margin-bottom: 13px;
        }
    }
}