@import '../components';

.content {
    margin: 0 auto;
    padding-top: $size-56;
    font-family: $font-roboto;

    &__title {
        @include font($size-38, $size-44);
        text-align: center;
        margin: 0;
        padding-bottom: $size-80;

        @media screen and (min-width: 770px) {
            @include font($size-45, $size-53);
            padding-bottom: $size-76;
        }

        @media screen and (min-width: 1200px) {
            @include font(55px, 32px);
            grid-area: title;
            padding-bottom: 67px;
        }
    }

    @media screen and (min-width: 770px) {
        max-width: 710px;
        padding-top: 50px;
    }

    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "title title"
            "price enroll";
        max-width: 1170px;
        padding-top: 65px;
    }
}