@font-face {
	font-family: 'Roboto';
	src:
		url('Roboto-Regular.woff') format('woff'),
		url('Roboto-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlab';
	src:
		url('RobotoSlab-Regular.woff') format('woff'),
		url('RobotoSlab-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoSlabLight';
	src:
		url('RobotoSlab-Light.woff') format('woff'),
		url('RobotoSlab-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src:
		url('OpenSans-Regular.woff') format('woff'),
		url('OpenSans-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}